@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.train-one-regular {
    font-family: "Train One", serif;
    font-weight: 400;
    font-style: normal;
}

section{
    background-color: var(--verde-pastel);
    color: black;
    height: 50vh;
    max-width: 100vw;
    overflow: hidden;
}

section>div>h1{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

section>div>p{
    font-size: 16px;
}

section::before,
section::after{
    font-family: "Train One", serif;
    content: "INGRESA A AUTOGESTIÓN";
    position: absolute;
    width: 100%;
    height: 50%;  
    font-size: 60px;
    opacity: 0.1;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1800px) {
    section::before,
    section::after{
        font-size: 150px;
    }
}

@media screen and (min-width: 1130px) {
    section>div>h1{
        font-size: 40px;
    }
    
    section>div>p{
        font-size: 20px;
    }
    
    section::before,
    section::after{
        font-size: 100px;
    }
}


section::after{
    justify-content: flex-start;
    top: 0;
    left: 0;
    -webkit-animation: slide-to-rigth 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: slide-to-rigth 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

section::before{
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    -webkit-animation: slide-to-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation: slide-to-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

@-webkit-keyframes slide-to-rigth {
    0%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    50% {
        -webkit-transform: translateX(50%);
        transform: translatex(50%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    
}

@keyframes slide-to-rigth {
    0%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    50% {
        -webkit-transform: translateX(50%);
        transform: translatex(50%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
}

@-webkit-keyframes slide-to-left {
    0%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    50% {
        -webkit-transform: translateX(-50%);
        transform: translatex(-50%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    
}

@keyframes slide-to-left {
    0%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
    50% {
        -webkit-transform: translateX(-50%);
        transform: translatex(-50%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translatex(0%);
    }
}