<section class="autogestion-cta">

    <!-- TEXTO DECORATIVO -->
    <div class="cta-bg-text">
        INGRESÁ A AUTOGESTIÓN
    </div>

    <!-- CONTENIDO -->
    <div class="cta-content flex flex-column align-items-center">

        <h1 >¿Sos cliente de UltraFibra?</h1>

        <p >
            Accedé a tu portal de usuarios y realizá todas tus gestiones
            de forma simple y rápida.
        </p>

        <app-button-p2-utlra
            (click)="goTo('app/login')"
            label="Ir a Autogestión">
        </app-button-p2-utlra>

    </div>

</section>
