<body>
    <div *ngIf="pantallaPequena" class="container w-full h-full">
        <p-tabView [(activeIndex)]="activeIndex" class="w-full">
            <p-tabPanel header="MegaPlus">
                <div class="card flex justify-content-center">
                    <p-card header="Mega Plus" subheader="25 Megas" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p> - Internet por Fibra Optica</p>
                        <p> - 25M Bajada, 12M Subida</p>
                        <p> - Cable TV en Alta Definicion HD</p>
                        <p> - Plataforma de Series y Peliculas</p>
                        <ng-template pTemplate="footer">
                            <p-button label="Mas Info" [text]="true" [raised]="true" severity="success"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </p-tabPanel>
            <p-tabPanel header="SuperPlus">
                <div class="card flex justify-content-center">
                    <p-card header="Super Plus" subheader="50 Megas" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p> - Internet por Fibra Optica </p>
                        <p> - 50M Bajada, 25M Subida </p>
                        <p> - Cable TV en Alta Definicion HD </p>
                        <p> - Plataforma de Series y Peliculas </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Mas Info" [text]="true" [raised]="true" severity="success"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </p-tabPanel>
            <p-tabPanel header="UltraPlus">
                <div class="card flex justify-content-center">
                    <p-card header="Ultra Plus" subheader="100 Megas" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p> - Internet por Fibra Optica</p>
                        <p> - 100M Bajada, 50M Subida</p>
                        <p> - Cable TV en Alta Definicion HD</p>
                        <p> - Plataforma de Series y Peliculas</p>
                        <ng-template pTemplate="footer">
                            <p-button label="Mas Info" [text]="true" [raised]="true" severity="success"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Corpo">
                <div class="card flex justify-content-center">
                    <p-card header="Corpo" subheader="Hasta 300 Megas" [style]="{ width: '340px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                        </ng-template>
                        <p> - Internet por Fibra Optica </p>
                        <p> - Hasta 300 Megas </p>
                        <p> - IPs Fijas (Consultar) </p>
                        <p> - Otros Servicios Corporativos </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Mas Info" [text]="true" [raised]="true" severity="success"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div *ngIf="!pantallaPequena" class="w-full flex flex-column align-items-center justify-content-center pt-6 pb-4">
        <div class="flex flex-row w-full justify-content-center align-items-end h-6rem">
            <app-tittle></app-tittle>
        </div>

        <div class="container mt-4 pb-4">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <i class="fab fa-windows"></i>
                        <h3>MEGA PLUS</h3>
                        <h4>25 Megas</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p> - Internet por Fibra Optica </p>
                        <p> - 25M Bajada, 12M Subida </p>
                        <p> - Cable TV en Alta Definicion HD </p>
                        <p> - Plataforma de Series y Peliculas </p>
                        <a href="#/app/products/homelike" type="button">Mas Info</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <i class="fab fa-android"></i>
                        <h3>SUPER PLUS</h3>
                        <h4>50 Megas</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p> - Internet por Fibra Optica </p>
                        <p> - 50M Bajada, 25M Subida </p>
                        <p> - Cable TV en Alta Definicion HD </p>
                        <p> - Plataforma de Series y Peliculas </p>
                        <a href="#/app/products/homelike" type="button">Mas Info</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <i class="fab fa-apple"></i>
                        <h3>ULTRA PLUS</h3>
                        <h4>100 Megas</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p> - Internet por Fibra Optica </p>
                        <p> - 100M de Bajada, 50M Subida </p>
                        <p> - Cable TV en Alta Definicion HD </p>
                        <p> - Plataforma de Series y Peliculas </p>
                        <a href="#/app/products/homelike" type="button">Mas Info</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <i class="fab fa-apple"></i>
                        <h3>CORPO</h3>
                        <h4>Hasta 300 Megas</h4>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p> - Internet por Fibra Optica </p>
                        <p> - Hasta 300 Megas </p>
                        <p> - IPs Fijas (Consultar) </p>
                        <p> - Otros Servicios Corporativos </p>
                        <a href="#/app/products/homelike" type="button">Mas Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>