    .copy {
    background-color: #02080e;


  } 
  
  .develop {
    color: black;
    background-color: #e6e6e6;
  }
  
  @media screen and (max-width: 720px) {

    #btn-intranet{
      display: none;
    }

    .footer1 {
      height: 25vh;
    }

    .contact-info{
      padding-left: 10%;
    }
  }


  a{
    color: black; 
    font-size: 1.5rem;
    font-family: "Montserrat", system-ui !important;
  }
