<footer class="site-footer">

    <!-- FOOTER PRINCIPAL -->
    <div class="footer-main">

        <div class="footer-content">

            <!-- INFO EMPRESA -->
            <div class="footer-brand">
                <h2>UltraFibra</h2>
                <p>Casa Central</p>
                <p>Buenos Aires 433 · Oliveros · Santa Fe</p>
                <p>📧 contacto@ultrafibra.com.ar</p>
                <p>☎ 0810 112 7700</p>
            </div>

            <!-- REDES -->
            <div class="footer-social">
                <app-buttons-redes-ultra></app-buttons-redes-ultra>
            </div>

        </div>

    </div>

    <!-- SUB FOOTER -->
    <div class="footer-bottom">

        <div class="footer-bottom-content">

            <p-button
                id="btn-intranet"
                icon="pi pi-bookmark"
                label="Intranet"
                [text]="true"
                size="small"
                severity="info"
                (click)="openIntranet()">
            </p-button>

            <span>Desarrollado por Lorenzatti Nazareno</span>

            <span>© Megalink S.R.L.</span>

        </div>

    </div>

</footer>
