<section class="h-auto w-full">
    <div class="h-auto w-full flex flex-row flex-wrap justify-content-around align-items-center  sm:p-3">
        <div class="card  w-11 lg:w-5  h-10rem  mb-3 p-2 border-round-3xl hidden lg:flex flex-column justify-content-start" style="display: none;">
            <div class="w-full text-center mb-6">
                <h1>Redes Sociales</h1>
            </div>

            <app-buttons-redes-ultra class="mr-3"></app-buttons-redes-ultra>
        </div>
        <div class="card w-11 lg:w-5 h-auto mb-3 p-2 border-round-3xl">
            <div class="w-full h-auto text-center">
                <h1>Autogestion</h1>
            </div>
            <div class="w-full h-full p-2">
                <div class="w-full flex flex-column justify-content-around  align-items-center">
                    <b class="text-center mb-3">Podés realizar diferentes consultas y gestiones aca:</b>
                    <p-button label="Portal de Usuario" icon="pi pi-user" size="small" [outlined]="true" (click)="navigate('/app/login')"></p-button>
                </div>
            </div>
        </div>

    </div>
</section>
