.item-carrousel {
  height: 40rem;
  max-width: 1800px;
  overflow: hidden;
}

.carrousel-center {
  width: auto;
  height: 40%;
  padding: 40px;
}

.item-carrousel img {
  filter: opacity(0.3) drop-shadow(0 0 0.75rem rgb(132, 131, 131)) sepia(30%);
  transition: all 10s;
  animation: imgBackground 10s infinite;
}


@keyframes imgBackground {  
  0% {
    scale: 1;
    transform: translateY(0);
  }   
  50% {
    scale: 1.1;
    transform: translateY(5%);
  } 
  100% {
    scale: 1;
    transform: translateY(0%);
  }
}