.item-carrousel {
  height: 25rem;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: 3/6;
}

.carrousel-center {
  width: auto;
  height: 40%;
  padding: 20px;
}

.item-carrousel img {
  filter: opacity(0.3) drop-shadow(0 0 0.75rem rgb(132, 131, 131)) sepia(30%);
  transition: all 10s;
  animation: imgBackground 10s infinite;
}

@media (min-width: 700px) {
  .item-carrousel {
    height: 35rem;
    aspect-ratio: 3/4;
  }
  .carrousel-center {
    padding: 40px;
  }
}


@media (min-width: 850px) {
  .item-carrousel {
    height: 45rem;
    aspect-ratio: 3/4;
  }
  .carrousel-center {
    padding: 40px;
  }
}


@media (min-width: 1800px) {
  .item-carrousel {
    height: 50rem;
    aspect-ratio: 12/8;
  }
}

@keyframes imgBackground {  
  0% {
    scale: 1;
  }   
  50% {
    scale: 1.1;
  } 
  100% {
    scale: 1;
  }
}