.button {
    color: rgb(255, 255, 255);
    min-width: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: black;
}

.button i {
    position: relative;
    transition: .5s;
    z-index: 3;
}

.effect:hover .icon-central {
    color: var(--green-400);
    transform: rotateY(360deg);
}

.effect {
    position: relative;
    overflow: hidden;
    display: block;
    background-color: var(--green-400); 
    color:#0d0227;
}

.effect::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0227;

    transition: .5s;
    z-index: 2;
}

.effect:hover:before {
    top: 0;
}

.effect-2:hover .icon-sides {
    color: #0d0227;
    
    transform: rotateY(360deg);
}

.effect-2 {
    background-color: #0d0227; 
    color:var(--green-400);
    position: relative;
    overflow: hidden;
    display: block;
}

.effect-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green-400);
    transition: .5s;
    z-index: 2;
}

.effect-2:hover:before {
    top: 0;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both
}

.bounce-in-top-2 {
    -webkit-animation: bounce-in-top 1.3s both;
    animation: bounce-in-top 1.3s both
}

.bounce-in-top-3 {
    -webkit-animation: bounce-in-top 1.6s both;
    animation: bounce-in-top 1.6s both
}
