<section class="container w-full h-auto sm:h-full flex flex-column justify-content-between align-items-center relative">
    <div class="absolute top-0 left-0"></div>
    <div class="welcome w-full p-3 h-auto md:h-4rem pl-5 flex flex-row justify-content-center align-items-center">
        <h1 class="text-base xl:text-xl">Bienvenido!</h1>
        <p class="ml-2 md:ml-3 text-sm xl:text-xl">{{client.name}}</p>
    </div>
    <div class="w-12 md:w-10 h-auto p-4 xl:p-5 xl:pl-8 xl:pr-8 flex flex-column md:flex-row justify-content-around align-items-center">
        <button *ngIf="official" pButton class="w-10 mb-3 md:w-4 h-4rem md:h-6rem pl-3 text-center font-bold text-md xl:text-xl"
             label="Pagar Facturas" (click)="nav('/user/invoices')"></button>
        <button pButton class="w-10 md:w-4 h-4rem md:h-6rem pl-3 text-center font-bold text-md xl:text-xl"
             label="Ver Mis Planes" (click)="nav('/user/services')"></button>
    </div>
    <div class="w-12 mt-4 h-auto flex flex-column justify-content-around align-items-center" [ngClass]="{ 'bg-green-400': client.a_status == 'Activo', 'bg-yellow-700': client.a_status == 'Deudor', 'bg-red-700': client.a_status == 'Inactivo' || client.a_status == 'Baja' }">
        <h1 *ngIf="client.a_status == 'Activo'" class="tittle bg-azul p-2 w-12 text-lg md:text-2xl font-light text-center">Tus servicios se encuentran Activos</h1>
        <h1 *ngIf="client.a_status == 'Deudor'" class="tittle bg-amarillo p-2 w-12  text-lg md:text-2xl font-light text-center">Tus servicios se encuentran Desactivados por falta de Pago</h1>
        <h1 *ngIf="client.a_status == 'Inactivo' || client.a_status == 'Baja'" class="tittle bg-rojo p-2 w-12  text-lg md:text-2xl font-light text-center">Tus servicios se encuentran Dados de Baja</h1>
        <div class="kpi-container w-12  h-auto p-4 flex flex-row flex-wrap justify-content-around align-items-center">
            <div class="kpi-1 pt-3 pb-3 flex flex-column justify-content-center align-items-center shadow-8"
                [ngClass]="{ 'changeColor': changeKpi1 && client.a_status == 'Activo', 'changeColorYellow':changeKpi1 && client.a_status == 'Deudor', 'changeColorRed':changeKpi1 && client.a_status == 'Inactivo' || client.a_status == 'Baja'}">
                <b class="text-lg md:text-xl">Facturas Impagas:</b>
                <p class="text-lg md:text-2xl">{{client.cuentas.invoices_qty}}</p>
            </div>
            <div class="kpi-2  pt-3 pb-3 flex flex-column justify-content-center align-items-center shadow-8"
            [ngClass]="{ 'changeColor': changeKpi2 && client.a_status == 'Activo', 'changeColorYellow':changeKpi2 && client.a_status == 'Deudor', 'changeColorRed':changeKpi2 && client.a_status == 'Inactivo' || client.a_status == 'Baja'}">
                <b class="text-lg md:text-xl">Monto Adeudado:</b>
                <p class="text-lg md:text-2xl">${{client.cuentas.debt}}</p>
            </div>
            <div class="kpi-3  pt-3 pb-3 flex flex-column justify-content-center align-items-center shadow-8"
            [ngClass]="{ 'changeColor': changeKpi3 && client.a_status == 'Activo', 'changeColorYellow':changeKpi3 && client.a_status == 'Deudor', 'changeColorRed':changeKpi3 && client.a_status == 'Inactivo' || client.a_status == 'Baja'}">
                <b class="text-lg md:text-xl">Mi Plan:</b>
                <p class="text-lg md:text-xl">{{cleanString(client.contratos[0].nombre)}}</p>
            </div>
        </div>
    </div>
    <div class="banners w-full md:h-10rem xl:h-12rem">
        <!--app-carrousel-home></app-carrousel-home-->
    </div>
</section>
