.action-grid {
  width: min(95%, 900px);
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}

.action-card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 30px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid rgba(255,255,255,0.05);
}

.action-card:hover {
  transform: translateY(-6px);
  background: var(--bg-elevated);
}

.icon-wrapper {
  width: 70px;
  height: 70px;
  margin: 0 auto 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0227;
  color: var(--primary);
  font-size: 28px;
  transition: 0.3s;
}

.action-card:hover .icon-wrapper {
  transform: scale(1.1);
}

/* botón principal */
.action-card.primary .icon-wrapper {
  background: var(--primary);
  color: black;
}

.action-card span {
  font-size: 14px;
  color: var(--text-main);
}