<section class="action-grid">

    <div class="action-card" (click)="nav('user/invoices')">
        <div class="icon-wrapper">
            <i class="pi pi-file-pdf"></i>
        </div>
        <span>Ver Comprobantes</span>
    </div>

    <div class="action-card primary" (click)="nav('user/profile')">
        <div class="icon-wrapper">
            <i class="pi pi-user"></i>
        </div>
        <span>Perfil</span>
    </div>

    <div class="action-card" (click)="nav('user/services')">
        <div class="icon-wrapper">
            <i class="pi pi-wifi"></i>
        </div>
        <span>Mis planes</span>
    </div>

</section>