<section class="contact flex flex-column align-items-center w-full h-auto mb-6 mt-0 sm:mt-7">
    <div class="header relative flex w-full justify-content-start h-8rem">
        
        <div class="abstracto uno"></div>
        <div class="abstracto dos"></div>
    </div>

    <div class="flex flex-column justify-content-center align-items-center w-full h-auto">
        <div class="contact-means w-11 h-auto">
            <app-means></app-means>
        </div>       
        <div class="w-full h-auto justify-content-around align-items-center" >
            <div class="w-full h-full">
               <app-form-contact></app-form-contact>
            </div>
        </div>
        <div class="w-full h-auto flex justify-content-center align-items-center">
            <div class="w-full h-full">
                <app-offices></app-offices>
            </div>
        </div>
        <div class="w-full h-auto mb-5">
            <app-workus-btn class="w-full h-full flex justify-content-center align-items-center"></app-workus-btn>
        </div>
    </div>
</section>
<app-footer></app-footer>