<section class="w-full h-auto xl:h-30rem flex flex-column xl:flex-row justify-content-center align-items-center">
    <div class="w-7 xl:w-4 h-21rem">
        <img class="w-full h-full" src="./assets/images/products/camaras.png" alt="Logo de la empresa">
    </div>
    <div class="w-11 xl:w-5 h-auto xl:h-21rem p-6">
        <h1 class="font-light text-3xl text-green-400">Servicio para Gobiernos</h1>
        <p>Brindamos soluciones integrales a organismos públicos 
            y/o gubernamentales. Generamos un entorno de seguridad 
            y eficiencia frente a las necesidades que acontecen en 
            los distintos organismos en el plano de las telecomunicaciones, 
            sean municipios, provincias o diversas instituciones.
            Utilizamos la más moderna tecnología disponible, 
            innovamos y nos profesionalizamos para brindar cada vez 
            más y mejores soluciones.
        </p>
    </div>
</section>
