<section class="aboutus shadow-8 w-full h-auto pt-4 pb-4 sm:pt-8 sm:pb-8 flex flex-column justify-content-center align-items-center" >
    <div class="w-11 sm:w-8 mb-6 h-auto flex flex-column justify-content-around align-items-start">
        <h1 class="mb-4 text-white-400 font-light">SOBRE NOSOTROS</h1>
        <p class="m-0">
            Somos una empresa de vanguardia y sólida experiencia en el Servicio de Internet y Cable por fibra óptica, brindando soluciones de calidad a una amplia cartera de clientes residenciales, corporativos e institucionales. 
            Nuestro servicio orientado al cliente, con implementaciones de máxima calidad y permanente adecuación tecnológica, nos ha posicionado como una empresa líder en el sector.
            Con sede en Oliveros, provincia de Santa Fe, donde brindamos oportunidades de empleo y desarrollo a las comunidades cercanas, trabajamos cada día para que nuestros clientes, sin importar dónde se encuentren, estén siempre conectados.
        </p>
    </div>

    <div class="w-11 sm:w-8 h-auto flex flex-column sm:flex-row justify-content-around align-items-center" >
        <div class="w-full sm:w-6 h-full mr-2 flex flex-column justify-content-around align-items-start">
            <h1 class="mb-4 text-white-400 font-light">MISION</h1>
            <p class="m-0">
                Nuestra misión es proveer soluciones de conectividad confiables y eficientes a través de la tecnología de fibra óptica, mejorando la calidad de vida y la competitividad de nuestros abonados. Nos comprometemos a impulsar la innovación y el crecimiento en la región, conectando a las personas y las empresas con el futuro digital.
            </p>
        </div>

        <div class="w-full sm:w-6 h-full flex flex-column justify-content-around align-items-start">
            <h1 class="mb-4 text-white-400 font-light">VISION</h1>
            <p class="m-0">
                Ser la empresa líder en servicios de telecomunicaciones en la región, reconocida por nuestra capacidad de innovación, servicio al cliente excepcional y por el impacto positivo que generamos en las comunidades que atendemos. Buscamos expandir nuestras redes y soluciones tecnológicas, contribuyendo al desarrollo socioeconómico de la región agroportuaria de Santa Fe.
            </p>
        </div>
    </div>
</section>
