<section class="aboutus shadow-8 w-full h-auto pt-4 pb-4 sm:pt-8 sm:pb-8 flex flex-column justify-content-center align-items-center" >
    <div class="w-11 sm:w-8 mb-6 h-auto flex flex-column justify-content-around align-items-start">
        <h1 class="mb-4 text-yellow-100">SOBRE NOSOTROS</h1>
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </div>

    <div class="w-11 sm:w-8 h-auto flex flex-column sm:flex-row justify-content-around align-items-center" >
        <div class="w-full sn:w-6 h-full mr-2 flex flex-column justify-content-around align-items-start">
            <h1 class="mb-4 text-yellow-100">MISION</h1>
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </div>

        <div class="w-full sn:w-6 h-full mt-3 mr-2 flex flex-column justify-content-around align-items-start">
            <h1 class="mb-4 text-yellow-100">VISION</h1>
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </div>
    </div>
</section>
