section{
    height: 55vh;
    padding-top: 160px;
    /*background-color: aliceblue;*/
}


.btn-container{
    width: 150px;
}

i{
    background-color: aliceblue;
    color: black;
    margin-bottom: 30px;
}

.form{
    background-color: #333333;
}

.p-button{
    background-color: transparent !important;
    border: none;
}

.btn-signup{
    background-color:  #0ac347 !important; 
    color: #050f1c!important;
}

.btn-outline{
    color: aliceblue !important;
}

