<p-toast></p-toast>
<section
    class="w-full h-28rem xl:h-30rem margin pt-6 xl:pt-0 flex flex-column-reverse xl:flex-row justify-content-center align-items-center">
    <div class="w-11 md:w-8 xl:w-5 h-full flex flex-column justify-content-center align-items-center">
        <form *ngIf="!forward" [formGroup]="formulario" (ngSubmit)="onSubmit()"
            class="w-full h-full flex flex-column align-items-center justify-content-around p-4 form border-round-bottom-2xl xl:border-round-left-2xl xl:border-noround-bottom">
            <h1 class="font-light text-xl md:text-4xl">Ingresar al Portal</h1>
            <div class="w-11 md:w-8 h-24rem flex flex-column justify-content-around align-items-center pt-3">
                <div *ngIf="!forward" class="flex flex-column w-full">
                    <span class="p-float-label w-full">
                        <input class="w-full" pInputText inputId="integeronly" id="documentNumber"
                            formControlName="documentNumber" required pattern="[0-9]*" type="number" minlength="5" />
                        <label for="documentNumber">DNI del titular</label>
                    </span>
                    <span class="mt-1 w-full h-1rem text-400 font-italic text-xs md:text-base">Ingrese el Dni del
                        titular del servicio</span>
                </div>
                <div *ngIf="!forward" class="flex flex-column w-full mt-4 md:mt-0">
                    <span class="p-float-label w-full">
                        <input class="w-full" pInputText inputId="integeronly" id="password" formControlName="password"
                            required type="password" />
                        <label for="password">Contraseña</label>
                    </span>
                    <span class="mt-1 w-full h-1rem text-400 font-italic text-xs md:text-base">Ingrese su
                        Contraseña</span>
                </div>
                <div class="flex flex-row justify-content-center align-items-center w-full h-4rem">
                    <div class="btn-container h-full relative">
                        <app-button-submit-ultra [disable]="!formulario.valid"></app-button-submit-ultra>
                    </div>
                </div>
            </div>
        </form>
        <div class="w-full h-full flex flex-column align-items-center justify-content-center p-4 form" *ngIf="forward">
            <p>Reenviar correo de confirmacion</p>
            <button class="btn-signup mt-4" label="Reenviar Email" pButton icon="pi pi-send"
                (click)="forwardEmail()"></button>
        </div>
    </div>
    <div class="w-11 md:w-8 xl:w-4 h-full flex flex-column justify-content-center align-items-center p-4 border-round-top-2xl xl:border-round-right-2xl xl:border-noround-top"
        style="background-color: rgb(7, 41, 70);">
        <div class="w-10 h-auto flex flex-column justify-content-around align-items-center">
            <h1 class="font-light text-2xl mb-6">No tengo un Usuario:</h1>
            <button class="btn-signup" pButton label="Quiero Registrarme" (click)="showDialog()"></button>
            <button class="btn-outline mt-4" pButton (click)="op.toggle($event)" icon="pi pi-lock"
                label="Recuperar Contraseña"></button>
        </div>
    </div>
</section>

<p-dialog [(visible)]="visibleModal" [modal]="true" [style]="dialogStyles" [draggable]="false" [resizable]="false">
    <section class="w-full h-auto mt-2 mb-2 flex justify-content-center align-items-center">
        <div class="w-full h-full flex flex-column justify-content-center align-items-center">
            <h1 class="font-light sm:text-lg md:text-2xl xl:text-4xl text-center">Crear un nuevo usuario</h1>
            <div class="form-container sm:p-1 w-full h-full flex flex-wrap justify-content-center align-items-center">
                <form [formGroup]="formularioSignUp" (ngSubmit)="onSubmitSignUp()"
                    class="w-full h-full flex flex-column align-items-center justify-content-around">
                    <div class="flex flex-column justify-content-around align-items-center w-12 md:w-10 h-full">
                        <div class="flex flex-row justify-content-center w-10 mt-4">
                            <span class="p-float-label w-full">
                                <input class="w-full" pInputText id="documentNumber" formControlName="documentNumber"
                                    required />
                                <label for="documentNumber">Dni del titular del Servicio</label>
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-center w-10 mt-5">
                            <span class="p-float-label w-full">
                                <input type="email" class="w-full" pInputText id="email" formControlName="email"
                                    required />
                                <label for="email">Email de Contacto</label>
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-center w-10 mt-5">
                            <span class="p-float-label w-full">
                                <input type="email" class="w-full" pInputText id="emailConfirm"
                                    formControlName="emailConfirm" required (paste)="disablePaste($event)"/>
                                <label for="emailConfirm"
                                    *ngIf="!formularioSignUp.get('emailConfirm')?.errors?.['mustMatch']">Confirmar
                                    Email</label>
                                <label for="emailConfirm"
                                    *ngIf="formularioSignUp.get('emailConfirm')?.errors?.['mustMatch'] && formularioSignUp.get('emailConfirm')?.touched"
                                    class="error-message" style="color: #ef9a9a;">Los Emails no coinciden</label>
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-center w-10 mt-5">
                            <span class="p-float-label w-full">
                                <input type="password" class="w-full" pInputText id="password"
                                    formControlName="password" required minlength="8" maxlength="20" />
                                <label for="password">Ingrese una Contraseña</label>
                                <small *ngIf="formularioSignUp.get('password')?.errors?.['minlength']">La contraseña debe tener al menos
                                    8 caracteres.</small>
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-center w-10 mt-5">
                            <span class="p-float-label w-full">
                                <input type="password" class="w-full" pInputText id="passwordConfirm"
                                    formControlName="passwordConfirm" required />
                                <label for="passwordConfirm"
                                    *ngIf="!formularioSignUp.get('passwordConfirm')?.errors?.['mustMatch']">Confirmar
                                    Contraseña</label>
                                <label for="passwordConfirm"
                                    *ngIf="formularioSignUp.get('passwordConfirm')?.errors?.['mustMatch'] && formularioSignUp.get('passwordConfirm')?.touched"
                                    class="error-message" style="color: #ef9a9a;">Las Contraseña no coinciden</label>
                            </span>
                        </div>
                        <div class="flex flex-row justify-content-center w-10 mt-4">
                            <div class="w-8 h-full flex align-items-end justify-content-center pb-3">
                                <button *ngIf="!loading" class="btn-signup" pButton type="submit" label="Crear Usuario" icon="pi pi-send"
                                    [disabled]="!formularioSignUp.valid"></button>
                                <div *ngIf="loading" class="p-4">
                                    <i  class="pi pi-spin pi-spinner" style="font-size: 2rem"></i> Aguarde Un momento ...
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card flex justify-content-center">
                <button pButton class="btn-outline" (click)="op.toggle($event)" icon="pi pi-lock" label="Recuperar Contraseña"></button>
            </div>
        </div>
    </section>
</p-dialog>

<p-overlayPanel #op>
    <div class="flex flex-column justify-content-center align-items-center p-4">
        <div class="flex flex-column gap-2 mb-4 w-full">
            <label htmlFor="email">Email</label>
            <input type="text" pInputText [(ngModel)]="recoveryPasswordEmail" id="email" aria-describedby="email-help"
                required />
            <small id="email-help">Ingrese su mail para recuperar contraseña</small>
        </div>
        <div class="flex flex-column gap-2 mb-4 w-full">
            <label htmlFor="dni">Dni</label>
            <input type="text" pInputText [(ngModel)]="recoveryPasswordDni" id="dni" aria-describedby="dni-help"
                required />
            <small id="dni-help">Ingrese el DNI del titular del Servicio</small>
        </div>
        <button class="btn-outline" label="Reenviar Contraseña" pButton icon="pi pi-send" (click)="recoveryPassword()"
            [disabled]="recoveryPasswordEmail == null || recoveryPasswordDni == null"></button>
    </div>
</p-overlayPanel>