.margin{
    margin-top: 160px;
}

.btn-container{
    width: 150px;
}

.form{
    background-color: #333333bd;
    /*border: 2px solid #383838;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

.p-button{
    /*color: #8b0505 !important;*/
    background-color: transparent !important;
    border: none;
}

.btn-signup{
    background-color:  #0ac347 !important; 
    color: #050f1c!important;
}

.btn-outline{
    color: aliceblue !important;
}
