.promo-banner {
    position: relative;
    width: 100%;
    min-height: 60vh;
    /*max-height: 90vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #0b1c2d; /* fallback telco */
}

/* Imagen */
.promo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Overlay elegante */
.promo-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.05) 0%,
        rgba(0,0,0,0.15) 65%,
        rgba(0,0,0,0.25) 100%
    );
    pointer-events: none;
}

/* Desktop grande */
@media (min-width: 1400px) {
    .promo-banner {
        min-height: 75vh;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .promo-banner {
        min-height: 45vh;
    }
}

