<section class="promo-banner">

    <picture>
        <!-- Desktop grande -->
        <source media="(min-width: 1400px)" srcset="/assets/images/fin-de-año-ultra-web-03.png">

        <!-- Desktop / tablet -->
        <source media="(min-width: 768px)" srcset="/assets/images/fin-de-año-ultra-web-04.png">

        <!-- Mobile -->
        <img src="/assets/images/fin-de-año-ultra-web-05.png" alt="Promoción UltraFibra" class="promo-image">
    </picture>

    <!-- Overlay sutil -->
    <div class="promo-overlay"></div>


</section>