section{
    height: 500px;
}

.img-container{
    width: 150px;
    height: 200px;
}

.img{
    padding: 5px;
}

@media screen and (min-width: 600px) {
    .img-container{
        width: 300px;
        height: 400px;
    }

    .img{
        padding:20px;
    }

    section{
        height: 700px;
    }
    
}

