.img-container{
    width: 150px;
    height: 280px;
}

.edit{
    top: 20px;
}

.edit.text{
    left: 50px;
}

.edit.img{
    left: 300px;
}

@media screen and (min-width: 720px) {
    .img-container{
        width: 300px;
        height: 370px;
    }
    
}