<section class="w-full h-auto">
    <div class="parallax-section flex flex-column justify-content-center align-items-center w-full">
        <!--div class="min-w-5 h-10rem">
            <div class="min-w-full h-full">
                <img class="w-full h-full" src="./assets/images/ultrafibra-logoblanco.png">
            </div>
            <div class="w-11 h-full flex justify-content-end">
                <h1 class="text-5xl font-light text-green-300">ULTRA CONECTADOS</h1>
            </div>
        </div-->
    </div>
</section>