<section *ngIf="section"
    class="header-enterprise w-full flex justify-content-center align-items-center"
    [style.background-image]="'url(' + section.imgs[0].urlObs + ')'">

    <!-- Overlay -->
    <div class="header-overlay"></div>

    <!-- Contenido -->
    <div class="header-content w-11 xl:w-8">
        <h1>
            Soluciones de conectividad
            <span>para grandes empresas</span>
        </h1>

        <p>
            Infraestructura de alto rendimiento, enlaces dedicados
            y soporte especializado para operaciones críticas.
        </p>

        <div class="header-accent"></div>
    </div>

</section>

<section *ngIf="!section"
    class="header-enterprise w-full flex justify-content-center align-items-center">
    <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--green-400)"
        animationDuration=".5s">
    </p-progressSpinner>
</section>
