.header{
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
    margin-bottom: 70px;
    margin-top: 80px;   
}

.element{
    border-radius: 10%;
}

.right{
    height: 25rem;
    top: 10%;
    left: 0;
    background-color: var(--green-400);
    opacity: 0.4;
}

.center{
    height: 17rem;
    top: 10%;
    left: 0;
    background-color:  var(--primary-blue);
    opacity: 0.4;
}

.left{
    height: 13rem;
    top: 10%;
    left: 0;
    background-color:  whitesmoke;
    opacity: 0.4;
}

  @media screen and (max-width: 768px) {

    .header{
        margin-bottom: 100px;    
    }

    .right{
        height: 12rem;
        top: 10%;
    }
  }