<section *ngIf="pantallaPequena">
    <div class="card flex justify-content-center">
        <p-carousel [value]="listImages" [numVisible]="1" [numScroll]="1" orientation="vertical"
            verticalViewPortHeight="360px" [responsiveOptions]="responsiveOptions"  [autoplayInterval]="3000" class="w-full">
            <ng-template let-image pTemplate="item">
                <div class="w-full h-full p-3">
                    <img class="w-full h-full border-round-md shadow-8" src="./assets/images/{{ image.route }}" [alt]="image.route">
                </div>            
            </ng-template>
        </p-carousel>
    </div>
</section>

<section class="first-section-home flex flex-row w-full" *ngIf="!pantallaPequena">
    <div class="slides slide-1">
        <div class="gradient w-full h-full flex align-items-end justify-content-center">
            <a href="#">
                <img src="./assets/images/UltraFibra.png">
            </a>
        </div>
    </div>
    <div class="slides slide-2">
        <div class="gradient w-full h-full flex align-items-end justify-content-center">
            <a href="#">
                <img src="./assets/images/UltraFibra.png">
            </a>
        </div>
    </div>
    <div class="slides slide-3">
        <div class="gradient w-full h-full flex align-items-end justify-content-center">
            <a href="#">
                <img src="./assets/images/UltraFibra.png">
            </a>
        </div>
    </div>
    <div class="slides slide-4">
        <div class="gradient w-full h-full flex align-items-end justify-content-center">
            <a href="#">
                <img src="./assets/images/UltraFibra.png">
            </a>
        </div>
    </div>
</section>