.header{
    filter: sepia(30%);
    height: 600px;
}

@media screen and (max-width: 720px) {
    .header{
        background-size: contain;
        background-position: center;
        height: 500px;
        filter: sepia(30%);
    }
}