<section class="header w-full mt-7 sm:mt-6 xl:mt-8 flex justify-content-end align-items-end" [style.background]="'linear-gradient(150deg, rgba(160, 163, 163, 0.251) 0%, rgba(7, 10, 43, 0.251) 30%, rgba(3, 12, 34, 0.68) 53%, rgb(1, 6, 18)90%), url(' + backgroundImg + ') no-repeat center 30% / cover'">
    <div class="w-10 sm:w-8 md:w-6 lg:w-5 xl:w-4 h-12rem flex flex-column">
        <div class="w-10 h-auto text-left">
            <h2 class="font-light text-green-400 text-5xl sm:text-6xl">{{title}}</h2>
        </div>
        <div class="w-full h-auto">
            <h1 class="font-bold text-6xl sm:text-7xl">{{subTitle}}</h1>
        </div>
    </div>
</section>

