@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5,b,p{
  font-family: "Montserrat", system-ui !important;
  transform: scale(1, 0.9); 
  display: inline-block; 
}

.scroll-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; /* Colocar por encima del contenido del carrusel */
  pointer-events: none; /* No interferir con los clics o interacciones normales */
}

@media (max-width: 768px) {
  .scroll-overlay {
    pointer-events: all; /* Capturar los eventos táctiles en móviles */
    background: rgba(0, 0, 0, 0); /* Invisible */
  }
}
.backgroundImg{
  background-repeat: no-repeat;
  background-image: url("/assets/images/promos/fondo-arena-responsive.png");
  background-size: cover;
  background-position: center center;
}
.parallax-section{
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  background-image: url("/assets/images/promos/fondo-arena.png");
  background-attachment: fixed;
  background-position: center center;
}

h1 {
  margin: 0px;
  padding: 0px;
}

/*  EMPIEZA PRUEBA */
section{
  height: 45rem;
}

h1 {
  text-shadow: 1px 2px 2px black;
  letter-spacing: -5px !important;
  font-size: 85px;
  line-height: 70px;
  font-weight: 900;
 
}

h3 {
  text-shadow: 1px 2px 2px black;
  margin-top: 10px;
  width: 50%;
  font-size: 35px;
  line-height: 33px;
  letter-spacing: 0px !important;
  font-weight: 450;
  text-align: end;
}

h2 {
  text-shadow: 1px 2px 2px black;
  margin-bottom: 15px;
  width: 75%;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -1px !important;
  font-weight: 600;
  text-align: end;
}

.header-promo {
  width: 1380px;
  height: 250px;
  margin-bottom: 18px;
}

.promos-container{
  width: 1380px;
}

.tittle,
.info {
  border-bottom: 3px solid white;
}


.kpi {
  border-radius: 60px;
  height: 320px;
  width: 365px;
  min-width: 365px;
  margin-right: 20px;
}

.kpi-1 {
  opacity: 0; /* Inicia completamente invisible */
  animation: fadeInAnimation 2s forwards; /* Duración de 2 segundos */
}
.kpi-2 {
  opacity: 0; /* Inicia completamente invisible */
  animation: fadeInAnimation 3.5s forwards; /* Duración de 2 segundos */
}
.kpi-3 {
  opacity: 0; /* Inicia completamente invisible */
  animation: fadeInAnimation 5s forwards; /* Duración de 2 segundos */
}

.kpi-info{
  padding-right: 45px;
}

.name {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1px !important;
  font-weight: 800;
  text-align: end;
  margin-bottom: 20px;
}

.small{
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0px !important;
  text-align: end;
}

.line {
  height: 8px;
  width: 83%;
  margin-bottom: 24px;
}

.velocity,
.price {
  font-size: 75px;
  line-height: 25px;
  transform: scale(1, 0.83);
  letter-spacing: -4px !important;
  font-weight: 900;
  text-align: end;
}

.velocity {
  margin-bottom: 10px;
}

.price {
  margin-top: 10px;
  margin-bottom: 20px;
}

.small-2{
  transform: scale(1);
  font-weight: 700;
}

/*  TERMINA PRUEBA */

@media screen and (max-width: 748px) {

  section{
    height: auto;
  }

  .tittle{
    border: none;
  }

.header-promo {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.promos {
  padding-top: 23px;
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  font-size: 42px;
  line-height: 35px;
}

h3 {
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

h2 {  
  font-size: 25px;
  line-height: 18px;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.info {
  border-bottom: 3px solid white;
}

.kpi {
  border-radius: 60px;
  height: 180px;
  width: 85%;
  margin-bottom: 20px;
}

.kpi-info{
  padding-right: 0px;
}

.name {
  font-size: 20px;
  line-height: 10px;
  letter-spacing: -1px !important;
  font-weight: 800;
  font-weight: bolder;
  width: 90%;
  text-align: center;
  margin-bottom: 18px;
}

.small{
  font-size: 20px;
  margin-bottom: 5px;
}

.line {
  height: 4px;
  width: 83%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.velocity,
.price {
  font-size: 45px;
  line-height: 20px;
  transform: scale(1, 0.83);
  letter-spacing: -4px !important;
  font-weight: 900;
  margin-right: 5px;
  text-align: center;
}

.velocity {
  margin-bottom: 10px;
}

.price {
  margin-bottom: 20px;
}
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

