<section class="w-full mt-7">
    <div class="header relative w-12 h-full" [style.background]="'linear-gradient(150deg, rgba(160, 163, 163, 0.251) 0%, rgba(7, 10, 43, 0.251) 30%, rgba(3, 12, 34, 0.68) 53%, rgb(1, 6, 18)90%), url(' + section?.imgs[0]?.urlObs + ') no-repeat center center / cover'">
        <div class="absolute md:w-4 xl:w-3 h-6rem xl:h-7rem">
            <img class="w-full h-full" src="./assets/images/ultrafibra-logoblanco.png" alt="Logo de la empresa">
        </div>          
    </div>
</section>
