/*.header{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}*/

section {
    height: 30rem;
}

.header::before {
    content: '';
    width: 80%;
    border: 4em solid transparent;
    border-bottom-color: #121212;
    display: block;
    top: 75.5%;
    position: relative;
    margin-left: -2px;
}

.header div {
    bottom: 12%;
    right: 0%;
}


@media screen and (min-width: 1800px) {
    section {
        height: 36rem;
    }

    .header::before {
        top: 85.5%;
    }

    .header div {
        bottom: 3%;
    }
    

}

@media screen and (max-width: 750px) {
    .header {
        background-position: 2% !important;
    }
}