<div class="w-full h-full relative">
    <ul class="flex absolute flex-column md:flex-row justify-content-around align-items-center">
        <li>
            <a href="https://www.facebook.com/UltraFibraCableInternet/?locale=es_LA">
                <i class="pi pi-facebook icon text-sm lg:text-2xl"></i> </a>
        </li>
        <li>
            <a href="https://wa.me/5493476585985?text=Hola%20Lucio"><i class="pi pi-whatsapp icon text-sm lg:text-2xl"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/ultracableinternet/"><i class="pi pi-instagram icon text-sm lg:text-2xl"></i></a>
        </li>
        <li>
            <a href="https://www.google.com/maps/place/UltraFibra/@-32.5772087,-60.8548885,15.25z/data=!4m6!3m5!1s0x95b6695f2f41c44b:0x328d49775d491a75!8m2!3d-32.5755332!4d-60.8503418!16s%2Fg%2F11tfkp9s06?entry=ttu"><i class="pi pi-google icon text-sm lg:text-2xl"></i></a>
        </li>
    </ul>
</div>