<section class="w-full h-auto flex flex-column justify-content-center align-items-center">
    <div class="header-grid h-auto w-11 md:w-9 p-5 md:pl-7 mt-8 flex flex-row flex-wrap-reverse justify-content-between align-items-center">
        <h1 class="text-center text-2xl md:text-5xl uppercase">Grilla de Canales</h1>
        <img class="logo" src="./assets/images/UltraFibra.png">
    </div>

    <div class="channels-container h-auto w-11 md:w-9 flex flex-row flex-wrap justify-content-center align-items-center">

        <div *ngFor="let img of section.imgs | slice:0:visibleCount"
            class="channel-item flex flex-row justify-content-between align-items-center">
            <div class="logo-channel">
                <img class="w-full h-full" src="{{img.urlObs}}" [alt]="img.description">
            </div>
            <h1>{{ img.description.substring(0, 5) }}</h1>

            <div class="description-hidden font-medium text-xl text-center align-content-center">
                {{img.description.substring(5)}}
            </div>
        </div>

        <div class="w-full h-auto flex justify-content-around align-items-center p-3 md:p-6">
            <div *ngIf="!isSmallScreen" class="separator w-4"></div>
            <button (click)="toggleShow()" class="showAll-btn">
                {{ showAll ? 'Ver menos' : 'Ver más' }}
            </button>
            <div *ngIf="!isSmallScreen" class="separator w-4"></div>
        </div>
    </div>
</section>