<section class="grids flex justify-content-center w-full h-auto pt-4 pb-4" style="background-color: #050f1c;">
    <div class="w-full mt-4 sm:w-10 h-auto flex flex-column sm:flex-row sm:flex-wrap justify-content-around align-items-center sm:align-items-start">
        <p-image src="{{section.imgs[1].urlObs}}" previewImageSrc="{{section.imgs[2].urlObs}}" alt="Image" width="350" [preview]="true"></p-image>
        <p-image src="{{section.imgs[0].urlObs}}" alt="Image" width="350" [preview]="true"></p-image>
    </div>
</section>
