
.grid {
    cursor: pointer;
    width: 350px;
    height: 300px;
    filter: brightness(0.6);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.6s ease, filter 0.6s ease;
}
