<section class="channels-section">

  <!-- HEADER -->
  <div class="channels-header">
    <h1>Grilla de Canales</h1>
    <img class="logo" src="./assets/images/ultrafibra-logoblanco.png" alt="UltraFibra">
  </div>

  <!-- GRID -->
  <div class="channels-container">

    <div
      *ngFor="let img of section.imgs | slice:0:visibleCount"
      class="channel-card"
    >
      <div class="channel-main">
        <div class="logo-channel">
          <img [src]="img.urlObs" [alt]="img.description" />
        </div>
        <span class="channel-number">
          {{ img.description.substring(0, 5) }}
        </span>
      </div>

      <div class="channel-overlay">
        {{ img.description.substring(5) }}
      </div>
    </div>

    <!-- ACTION -->
    <div class="channels-action">
      <span *ngIf="!isSmallScreen" class="separator"></span>

      <button class="showAll-btn" (click)="toggleShow()">
        {{ showAll ? 'Ver menos' : 'Ver más' }}
      </button>

      <span *ngIf="!isSmallScreen" class="separator"></span>
    </div>

  </div>
</section>
