<section class="feature-section w-full flex justify-content-center align-items-center">
    <div 
        class="feature-wrapper w-11 xl:w-9 flex flex-wrap align-items-center"
        [ngClass]="{ 'reverse': reverse }"
    >

        <!-- Imagen -->
        <div class="feature-image">
            <img [src]="img" [alt]="title" />
        </div>

        <!-- Texto -->
        <div class="feature-content">
            <h1 class="feature-title">{{ title }}</h1>
            <p class="feature-text">
                {{ article }}
            </p>
            <div class="feature-accent"></div>
        </div>

    </div>
</section>
