.reverse{
    flex-direction: row-reverse;
}

.img-container{
    height: 364px;
    width: 600px;
    filter: sepia(50%);
}

@media screen and (max-width: 850px) {
    .img-container{
        height: 212px;
        width: 350px;
    }
  }