<section class="details w-full flex flex-column justify-content-around align-items-center">
    <div class="w-12 text-center md:text-xl">Acompañamos tu visión. Hacemos posible la innovación de tu negocio.</div>
    <div class="container w-11 md:w-9 xl:w-7 h-18rem relative border-round-2xl flex justify-content-center align-items-center">
        <div class="w-11 h-auto">
            <h1 class="text-center md:text-start">PLAN COMERCIO</h1>
            <hr/>
            <br/>
            <h4 class="text-sm sm:text-base">Tenemos soluciones pensadas para vos. Ampliá tu conectividad, mejorá tu rendimiento. </h4>
            <ul class="text-sm sm:text-base">
                <li>Pequeños Emprendimientos</li>
                <li>Profesionales</li>
                <li>Comercios Minoristas</li>
            </ul>

        </div>
        <div class="cliph"></div>
    </div>

</section>