<section class="details-pymes w-full flex flex-column justify-content-center align-items-center overflow-x-hidden">

    <div class="details-content">
        <h1>
            <span>Acompañamos</span> tu visión
        </h1>

        <h2>
            Hacemos posible la <span>innovación</span>
        </h2>

        <div class="details-line"></div>

        <p>
            Infraestructura, tecnología y compromiso para que tu negocio crezca
            con conectividad de alto rendimiento.
        </p>
    </div>

</section>
