<section class="details w-full h-30rem flex flex-column justify-content-around align-items-center">
    <div class="w-10 md:w-7 text-center md:text-xl">¡Siempre tenes opciones cuando tu visión de negocio es innovadora!
        Tenemos soluciones pensadas para vos.</div>
    <div class="container w-10 md:w-9 h-18rem relative border-round-2xl flex justify-content-center align-items-center">
        <div class="w-11 h-auto">
            <h1 class="text-center md:text-start">PLAN COMERCIO</h1>
            <hr/>
            <br/>
            <h4 class="text-sm sm:text-base">El mejor socio para tu negocio. Ampliá tu conectividad, 365 días del año, 24 horas.
                Llegamos a donde vos estés!</h4>
            <ul class="text-sm sm:text-base">
                <li>Ideal para aquellas emprendimientos</li>
                <li>Profesionales</li>
                <li>Comercios minoristas</li>
            </ul>

        </div>
        <div class="cliph"></div>
    </div>

</section>