<section class="w-full h-auto flex flex-column justify-content-center align-items-center pt-6">
    <div class="info-container w-11 xl:w-10 h-auto p-3 xl:p-8 relative flex flex-column justify-content-center align-items-center border-round-3xl">
        <div class="w-full h-auto flex flex-column justify-content-center align-items-start">
            <h1 class="mb-3 text-2xl xl:text-4xl">Sistema de videovigilancia</h1>
            <p class="text-lg xl:text-xl">Proveemos la visualización en tiempo real de los distintos eventos que suceden en la vía pública, identiﬁcando por sí mismo los elementos que intervienen en el hecho, integrando los recursos a utilizar para dar respuesta y brindando en forma automática al operador toda la información necesaria para la toma de decisiones precisa e inmediata.</p>
        </div>
        <div class="w-full h-auto flex flex-column justify-content-center align-items-start mt-6">
            <h1 class="text-xl xl:text-4xl">Principales Funcionalidades:</h1>
            <ul class="text-lg xl:text-xl">
                <li> Análisis de video inteligente</li>
                <li> Detección de objeto olvidado o abandonado</li>
                <li> Conteo de vehículos y segmentación por marca, color, tipo, etc.</li>
                <li> Detección de aglomeración de personas</li>
                <li> Creación de cercas virtuales</li>
                <li> Análisis de video inteligente</li>
            </ul>
        </div>
        <div class="abs absolute left-0"></div>
    </div>
    <div class="w-full p-8 flex justify-content-center align-items-center">
        <app-button-p2-utlra label="Quiero Contactarme" url="/app/contact"></app-button-p2-utlra>
    </div>
</section>
