<section class="values-container w-full h-auto flex justify-content-center align-items-center">
    <div class="flex flex-column justify-content-around align-items-center w-10 h-auto sm:h-30rem">
        <div class="w-12 sm:w-11 h-auto flex justify-content-center sm:justify-content-start">
            <h1 class="text-3xl mb-3 sm:text-4xl">NUESTROS PRINCIPIOS</h1>
        </div>
        <div class="flex flex-row flex-wrap justify-content-around align-items-center w-full h-auto">
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-6 mt-2 sm:mt-0 lg:w-10rem lg:h-10rem  md:w-6rem md:h-6rem flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/compromiso.png">
                </div>
                <h2 class="text-base sm:text-lg">Compromiso</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-6 mt-2 sm:mt-0 lg:w-10rem lg:h-10rem  md:w-6rem md:h-6rem flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/conectividad.png">
                </div>
                <h2 class="text-base sm:text-lg">Conectividad</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-2000 w-6 h-6 mt-2 sm:mt-0 lg:w-10rem lg:h-10rem  md:w-6rem md:h-6rem flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/crecimiento.png">
                </div>
                <h2 class="text-base sm:text-lg">Crecimiento</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-6 mt-2 sm:mt-0 lg:w-10rem lg:h-10rem  md:w-6rem md:h-6rem flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/inovacion.png">
                </div>
                <h2 class="text-base sm:text-lg">Inovacion</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-3000 w-6 h-6 mt-2 sm:mt-0 lg:w-10rem lg:h-10rem  md:w-6rem md:h-6rem flex flex-column justify-content-around align-items-center" >
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/trabajo-en-equipo.png">
                </div>
                <h2 class="text-base sm:text-lg">Trabajo en Equipo</h2>
            </div>
        </div>
        <div class="w-12 sm:w-9 h-auto mt-5 mb-4 sm:mb-2">
            <p class="sm:text-xl m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </div>
    </div>
</section>