<section class="values-container w-full h-auto flex justify-content-center align-items-center">
    <div class="flex flex-column justify-content-around align-items-center w-10 h-auto mt-4 mb-4">
        <div class="w-12 sm:w-11 h-auto flex justify-content-center sm:justify-content-start">
            <h1 class="text-3xl mb-3 sm:text-4xl">NUESTROS PRINCIPIOS</h1>
        </div>
        <div class="flex flex-row flex-wrap justify-content-around align-items-center w-full h-auto pt-3 pb-3">
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-auto mt-2 sm:mt-0 lg:w-12rem  md:w-6rem  flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/compromiso.png">
                </div>
                <h2 class="text-base sm:text-lg">Compromiso</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-auto mt-2 sm:mt-0 lg:w-12rem  md:w-6rem  flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/conectividad.png">
                </div>
                <h2 class="text-base sm:text-lg">Conectividad</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-2000 w-6 h-auto mt-2 sm:mt-0 lg:w-12rem   md:w-6rem  flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/crecimiento.png">
                </div>
                <h2 class="text-base sm:text-lg">Crecimiento</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-1000 w-6 h-auto mt-2 sm:mt-0 lg:w-12rem  md:w-6rem  flex flex-column justify-content-around align-items-center">
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/inovacion.png">
                </div>
                <h2 class="text-base sm:text-lg">Inovacion</h2>
            </div>
            <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout"  class="animation-duration-3000 w-6 h-auto mt-2 sm:mt-0 lg:w-12rem  md:w-6rem flex flex-column justify-content-around align-items-center" >
                <div class="icons">
                    <img class="w-full h-full" src="./assets/images/icons/trabajo-en-equipo.png">
                </div>
                <h2 class="text-base sm:text-lg">Trabajo en Equipo</h2>
            </div>
        </div>
        <div class="w-12 lg:w-9 h-auto mt-5 mb-4 sm:mb-2">
            <p class="text-md md:text-xl m-0">
                Nos basamos en principios sólidos que guían nuestra labor diaria: 
*el compromiso de brindar un servicio confiable y eficiente
*la importancia de la conectividad como motor del desarrollo en nuestras comunidades
*el crecimiento constante de nuestras redes y de las personas que integran nuestra empresa
*la innovación como base para ofrecer soluciones de vanguardia
*el trabajo en equipo como método para alcanzar nuestras metas y superar los desafíos
            </p>
        </div>
    </div>
</section>