<section class="w-full container flex flex-column align-items-center justify-content-center relative">
    <div class="overlay z-1 absolute top-0 right-0 w-full h-full"></div>
    <h1 class="w-full z-5 mb-8 text-center font-light text-4xl md:text-6xl uppercase text-shadow">Tenemos Un Plan para tu Negocio</h1>
    <div class="w-full z-5 mt-4 h-auto flex flex-wrap justify-content-around align-items-center">
        <div class="plan flex flex-column justify-content-around align-items-center border-round-3xl shadow-8">
            <h3 class="name-plan letter-spacing w-full h-auto text-right font-light text-2xl">COMERCIO</h3>
            <h1 class="velocity letter-spacing w-full h-auto text-right text-7xl">50MB</h1>
            <h4 class="television letter-spacing w-full h-auto text-right text-2xl"> +CABLE</h4>
            <hr class="w-full"/>
            <h1 class="price letter-spacing w-full h-auto text-right  text-7xl">$32.000</h1>
            <b class="label letter-spacing uppercase w-full h-auto text-right">Finales por mes</b>
        </div>
        <div class="plan flex flex-column justify-content-around align-items-center border-round-3xl shadow-8">
            <h3 class="name-plan letter-spacing w-full h-auto text-right font-light text-2xl">COMERCIO</h3>
            <h1 class="velocity letter-spacing w-full h-auto text-right text-7xl">100MB</h1>
            <h4 class="television letter-spacing w-full h-auto text-right text-2xl"> +CABLE</h4>
            <hr class="w-full"/>
            <h1 class="price letter-spacing w-full h-auto text-right  text-7xl">$39.800</h1>
            <b class="label letter-spacing uppercase w-full h-auto text-right">Finales por mes</b>
        </div>
        <div class="plan flex flex-column justify-content-around align-items-center border-round-3xl shadow-8">
            <h3 class="name-plan letter-spacing w-full h-auto text-right font-light text-2xl">COMERCIO</h3>
            <h1 class="velocity letter-spacing w-full h-auto text-right text-7xl">200MB</h1>
            <h4 class="television letter-spacing w-full h-auto text-right text-2xl"> +CABLE</h4>
            <hr class="w-full"/>
            <h1 class="price letter-spacing w-full h-auto text-right  text-7xl">$51.700</h1>
            <b class="label letter-spacing uppercase w-full h-auto text-right">Finales por mes</b>
        </div>
    </div>
</section>


<section class="parallax-section w-full flex flex-column align-items-center justify-content-center">
    <div class="tracking-element h-auto xl:w-6 flex flex-column justify-content-start align-items-start p-6">
        <h1 class="text-6xl md:text-8xl text-black-alpha-90">CRECÉ</h1>
        <h2 class="font-medium ml-7 text-4xl md:text-6xl text-shadow text-black-alpha-90">Sin Limitaciones</h2>
    </div>
    <div
    class="tracking-element text-container mt-5 md:m-0 w-12 md:w-5 h-auto p-3 md:ml-3 md:p-6 border-round-3xl flex justify-content-center align-items-center">
    <div class=" w-11 h-auto flex justify-content-center align-items-center text-xl">
        Dale a tu negocio la mejor conectividad por Fibra Óptica. 
        Somos tu socio estratégico para ayudarte a crecer y exponenciar tus emprendimientos. 
        Desarrollamos soluciones a medida. 
        Solicitanos asesoramiento.
    </div>
</div>
</section>


<!--section class="w-full parallax-section">

</section-->
