<section class="promo-section">

  <div class="promo-slide" *ngIf="slidesList.length">

    <!-- HEADER -->
    <div class="promo-header">
      <div class="promo-title">
        <h1 class="accent">Ultra Promos</h1>
        <!--h1>Mismos precios</h1-->
        <!--h1>por 6 meses</h1-->
      </div>

      <div class="promo-info">
        <span>Solo nuevos clientes</span>
        <span>Todas las localidades</span>
      </div>
    </div>

    <!-- CARDS -->
    <div class="promo-cards">
      <div
        *ngFor="let item of slidesList[0].slides"
        class="promo-card"
      >
        <div class="promo-card-content">
          <h2>{{ item.name }}</h2>

          <div class="speed">
            <span class="mb text-black-alpha-90">{{ item.velocity }}</span>
            <span class="tv text-black-alpha-60">+ TV HD</span>
          </div>
        </div>

        <div class="promo-card-price">
          <div class="flex w-full justify-content-center align-items-center">
            <h3>{{ item.price }}</h3> <p class="ml-2">{{item.tiempo}}</p>
          </div>          
          <small class="text-white-alpha-80">finales por mes</small>          
        </div>
      </div>
    </div>

  </div>

</section>
