@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section {
  height: auto;
  width: 100vw;
  background: linear-gradient(180deg, rgb(1, 6, 18) 0%, rgba(51, 51, 51, 0.452) 58%, rgba(51,51,51,0.6082808123249299) 78%, rgba(51,51,51,1) 100%), url('/assets/images/fondo-abstracto-2.png') no-repeat center center / cover;
}

h1,
h2,
h3,
h4,
h5,
b,
p {
  font-family: "Montserrat", system-ui !important;
  transform: scale(1, 0.9);
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

.scroll-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.header-promo {
  min-height: 25vh;
  height: auto;
  margin-bottom: 18px;
  border-bottom: 3px solid white;
}

.h1-tittle {
  text-shadow: 1px 2px 2px black;
  letter-spacing: -5px !important;
  font-size: 80px;
  line-height: 70px;
  font-weight: 900;

}

.h3-subtittle {
  text-shadow: 1px 2px 2px black;
  margin-top: 10px;
  width: 50%;
  font-size: 35px;
  line-height: 33px;
  letter-spacing: 0px !important;
  font-weight: 450;
  text-align: end;
}

/*PRUEBAAA */

.banner{
  min-width: 750px;
}

.content {
  height: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}

.price{
  width: 370px;
  height: 120px;
  position: absolute;
  top: 50;
  left: 68%;
  z-index: -1;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: var(--primary-blue);
}

.content h2{
  letter-spacing: -1px !important;

  font-size: 20px;
  font-weight: 800;
}

.velocity, .price h1{ 
  margin-top: 10px; 
  letter-spacing: -1px !important;
  font-size: 60px;
  font-weight: 900;
}

.velocity{
    line-height: 0px;
}

.tv{
  margin-left: 5px;
  letter-spacing: 1px !important;
  font-size: 30px;
  font-weight: 700;
}

small{
  line-height: 0px
}


/* Styles Colores */

.bg-green {
  background-color: var(--green-400);
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.bg-blue {
  background-color: var(--primary-blue);
  border-color: white;
}
.bg-blue .velocity{
  color: var(--green-400);
}

.bg-white {
  background-color: white;
  color: var(--primary-blue);
  border-color: var(--green-400);
}


@media screen and (max-width: 1000px) {

  .scroll-overlay {
    pointer-events: all;
    background: rgba(0, 0, 0, 0);
  }

 
.h1-tittle {
  letter-spacing: -2px !important;
  font-size: 60px;
  line-height: 60px;
}

.h3-subtittle {
  margin-top: 10px;
  width: 50%;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0px !important;
}


.banner{
  min-width: 450px;
}

.content {
  padding-left: 40px;
  padding-bottom: 10px;
  height: 160px;
}

.price{
  width: 300px;
  height: 120px;
  position: absolute;
  top: 50;
  left: 65%;
}

.content h2{
  letter-spacing: -1px !important;
  font-size: 18px;
}

.velocity, .price h1{ 
  margin-top: 10px; 
  letter-spacing: -1px !important;
  font-size: 40px;
}

.tv{
  margin-left: 5px;
  letter-spacing: 1px !important;
  font-size: 18px;
  font-weight: 700;
}

small{
  line-height: 0px;
  font-size: 8px;
}

}

@media screen and (max-width: 630px) {
  .h1-tittle {
    letter-spacing: -2px !important;
    font-size: 40px;
    line-height: 40px;
  }
  
  .h3-subtittle {
    margin-top: 10px;
    width: 80%;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0px !important;
  }
  
  
  .banner{
    min-width: 380px;
  }
  
  .content {
    height: 160px;
    padding-left: 40px;
    padding-right: 25px;
  }
  
  .price{
    width: 150px;
    height: 80px;
    position: absolute;
    z-index: 5;
    top: 50;
    left: 60%;
  }
  
  .content h2{
    letter-spacing: -1px !important;
    font-size: 12px;
  }
  
  .velocity{ 
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 50px;
  }

  .price h1 {
    font-size: 25px;
  }
  
  .tv{
    font-size: 18px;
  }
  
  small{
    line-height: 0px;
    font-size: 8px;
  }
}
