<section class="w-full h-auto">
    <div
        class="parallax-section flex flex-column justify-content-center sm:justify-content-start align-items-end w-full" [ngStyle]="{'--background-image-url': 'url(' + backgroundImageUrl + ')'}">
        <div class="cineplus w-12 sm:w-6 h-auto text-center sm:p-8">
            <h1 class="text-3xl">LAS MEJORES SERIES Y PELICULAS</h1>
            <p class="text-center text-xl m-4 p-3 text-800 sm:text-600">Ingresa a nuestra plataforma de Streaming
                estando conectado en nuestra red en</p>
            <h1 class="text-4xl">www.cineplus.com.ar</h1>
        </div>
    </div>
</section>