<p-toast></p-toast>

<section class="success-page w-full flex justify-content-center align-items-center">
  <div class="success-card shadow-8 border-round-3xl">

    <!-- HEADER -->
    <div class="success-header flex align-items-center">
      <button
        pButton
        class="btn-back"
        icon="pi pi-arrow-left"
        label="Volver al Login"
        (click)="navigateToLogin()">
      </button>
    </div>

    <!-- CONTENT -->
    <div class="success-content text-center">
      <i class="pi pi-check-circle success-icon"></i>

      <h1>¡Bienvenido!</h1>

      <p class="main-text">
        Tu correo <b>{{ email }}</b> fue validado con éxito.
      </p>

      <p class="secondary-text">
        Ya podés ingresar al área de usuario con tu <b>DNI</b> y <b>Contraseña</b>.
      </p>
    </div>

    <!-- FOOTER -->
    <div class="success-footer"></div>

  </div>
</section>
