<section class="cineplus-section w-full">
    <div
        class="parallax-section flex justify-content-end align-items-center"
        [ngStyle]="{'--background-image-url': 'url(' + backgroundImageUrl + ')'}">

        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Contenido -->
        <div class="cineplus-card tracking-element">
            <h1 class="cine-title">
                Las mejores series y películas<br />
                en streaming
            </h1>

            <p class="cine-subtitle">
                Conectate a nuestra red. Ingresá a nuestra plataforma.
                <br />Y disfrutá.
            </p>

            <a href="https://cineplus.com.ar/" target="_blank" class="cine-link">
                www.cineplus.com.ar
            </a>
        </div>
    </div>
</section>
