<section class="w-full h-auto">
    <div
        class="parallax-section flex flex-column justify-content-center sm:justify-content-center align-items-end w-full" [ngStyle]="{'--background-image-url': 'url(' + backgroundImageUrl + ')'}">
        <div class="cineplus w-12 lg:w-6 h-full text-center align-content-center sm:p-8">
            <h1 class="tracking-element text-xl sm:text-3xl">LAS MEJORES SERIES Y PELÍCULAS EN STREAMING.</h1>
            <p class="tracking-element text-center text-base sm:text-xl m-4 p-3 text-800 sm:text-600">Conectate a nuestra red. Ingresá a nuestra plataforma. Y disfrutá.</p>
            <h1 class="tracking-element text-2xl sm:text-4xl"><a href="http://cineplus.com.ar/" class="no-underline">www.cineplus.com.ar</a></h1>
        </div>
    </div>
</section>