<section class="header pb-8 flex flex-column justify-content-center align-items-center">
    <img class="tracking-element" src="./assets/images/products/logo-liga.png" alt="Logo de la empresa">
    <h1 class="tracking-in-expand-fwd w-full text-center mt-7 text-3xl md:text-7xl">Disfruta todos los partidos de la Liga</h1>
    <h1 class="tracking-in-expand-fwd w-full text-center mt-1 text-3xl md:text-6xl">con nuestro servicio de TV</h1>
    <h3 class="tracking-in-expand-fwd w-full font-light text-white-alpha-70 text-center mt-2">Pack Futbol incluido sin
        costo adicional</h3>
</section>

<section class="w-full parallax-section flex justify-content-center align-items-center"
    [style.background-image]="'linear-gradient(150deg, rgba(160, 163, 163, 0.251) 0%, rgba(7, 10, 43, 0.251) 30%, rgba(3, 12, 34, 0.4) 53%, rgb(1, 6, 18)95%),url(' + backgroundImg + ')'">
    <div class="w-full xl:w-9 h-auto flex flex-row flex-wrap justify-content-around align-items-center">
        
        <div class="container-logos mb-3 flex flex-row justify-content-around align-items-center shadow-8">
            <img src="./assets/images/products/logo-espn-premium.png">
            <h1>18.2</h1>
        </div>
        <div class="container-logos mb-3 flex flex-row justify-content-around align-items-center shadow-8">
            <img src="./assets/images/products/TNT_Sports_2021_logo.png">
            <h1>20.2</h1>
        </div>
    </div>
</section>