<!--div class="promo-mundial">

  
    <div class="promo-jugador"></div>

    <div class="promo-fondo"></div>

    <div class="promo-premios-visual">

        <div class="promo-tv"></div>

        <div class="promo-camiseta"></div>

    </div>


    <div class="promo-valida">
        Promoción válida durante Junio
    </div>
   
    <div class="promo-content">


        <div class="promo-title">
            <div>VENITE A ULTRA</div>
            <div>Y PARTICIPÁ</div>
            <div class="celeste">X PREMIOS</div>
            <div class="celeste">MUNDIALISTAS</div>
        </div>
        <div class="w-full flex justify-content-end mt-3">
            <div class="promo-divider"></div>
        </div>

        <div class="promo-sorteamos">
            SORTEAMOS:
        </div>

        <div class="promo-premios">
            <div>1 SMART TV DE 55"</div>
            <div>CAMISETAS DE LA SELECCIÓN</div>
            <div>PELOTAS DEL MUNDIAL</div>
            <div>3 VOUCHERS POR 6 MESES DE SERVICIO SIN CARGO</div>
        </div>

        <div class="w-full flex justify-content-end mt-3">
            <div class="promo-divider"></div>
        </div>
        <button class="promo-btn" (click)="navigate('/terminos-y-condiciones')">

            +INFO

        </button>

    </div>

</div-->

<section #promoSection class="w-full flex flex-column  justify-content-center align-items-start overflow-hidden promo-section">
    <div class="w-full flex hero-x2-container">
        <div class="w-11 sm:w-5 h-auto flex justify-content-center">
            <div class="hero-container">
                <img class="w-full h-full" src="./assets/images/heroina2.png" />
            </div>
        </div>
        <div class="x2-container flex justify-content-center align-items-end relative">
            <div class="x">X</div>
            <div class="two">2</div>
            <div class="extension"> </div>
        </div>
    </div>
    <div class="h-auto w-full flex justify-content-center align-items-center ">
        <div class="w-5 h-auto flex justify-content-end align-items-center">
            <div class="text-container w-auto">
                <h3>DESDE ENERO</h3>
                <h2 class="verde">MISMO</h2>
                <h2 class="verde">PRECIO</h2>
                <h2>DOBLE</h2>
                <h2>VELOCIDAD</h2>
            </div>
        </div>
        <div class="w-5 h-auto">
            <div class="promo-container">
                 <img class="w-full h-full" src="./assets/images/ULTRA-WEB-Promos.png" />
            </div>
        </div>
    </div>
</section>