<section class="h-auto w-full flex justify-content-center align-items-center">
<div class="card w-11 xl:w-10 h-auto mb-3 p-3 border-round-3xl flex flex-column justify-content-center align-items-center">
    <div class="w-full h-auto text-center">
        <h1>Sucursales</h1>
    </div>
    <div class="w-full h-auto flex flex-row justify-content-center flex-wrap  p-2 ">
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Fray Luis Beltran: </b>
            <p>Maestra Barragan 22</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Oliveros: </b>
            <p>Buenos Aires 257</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Maciel: </b>
            <p>Bv Sarmiento 805</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Puerto San Martin: </b>
            <p>Av. San Martin 109</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Capitan Bermudez: </b>
            <p>Santiago 747</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Timbues: </b>
            <p>Buenos Aires 585</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Monje: </b>
            <p>Francisco Caminos 446</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Gaboto:</b>
            <p>Buenos Aires 257</p>
        </div>
        <div class="w-11 xl:w-5 flex flex-row justify-content-center align-content-center mb-2">
            <b class="xl:mr-2 text-green-400">Andino</b>
            <p>Moreno 910</p>
        </div>
    </div>
</div>
</section>