<section class="enterprise-statement w-full flex flex-column justify-content-center align-items-center">

    <!-- Texto principal -->
    <div class="statement-content w-11 xl:w-8 flex flex-column justify-content-center align-items-center">
        <h1 class="brand tracking-element">ULTRAFIBRA</h1>
        <h2 class="claim tracking-element">
            El socio estratégico para
            <span>grandes empresas</span>
        </h2>
        <div class="accent-line"></div>
    </div>

    <!-- Parallax -->
    <div class="enterprise-parallax w-full"></div>

</section>
