<nav *ngIf="isSmallScreen"
     [ngClass]="{ 'oculto': hidden, 'noOculto': !hidden }"
     class="navbar navbar-mobile">

    <div class="nav-inner">
        <div class="logo">
            <img src="./assets/images/ultrafibra-logoblanco.png" alt="UltraFibra">
        </div>

        <button pButton
                class="burger-btn"
                icon="pi pi-bars"
                (click)="op.show($event)">
        </button>
    </div>

</nav>



<nav *ngIf="!isSmallScreen"
     [ngClass]="{ 'oculto': hidden, 'noOculto': !hidden }"
     class="navbar navbar-desktop">

    <div class="nav-inner">

        <!-- LOGO -->
        <div class="logo">
            <img src="./assets/images/ultrafibra-logoblanco.png" alt="UltraFibra">
        </div>

        <!-- MENU -->
        <ul class="nav-menu">
            <li><a href="#/app/home">Inicio</a></li>
            <li><a href="#/app/us">Nosotros</a></li>

            <li>
                <a class="cursor-pointer"
                   (click)="products.show($event, target)">
                    Productos
                </a>
                <div #target></div>
            </li>

            <li><a href="#/app/grid">Canales TV</a></li>
        </ul>

        <!-- CTA -->
        <a href="#/app/login" class="nav-cta">
            <i class="pi pi-user"></i>
            Autogestión
        </a>

    </div>
</nav>

<div class="content h-auto w-full">
   <p-overlayPanel #op>
    <ng-template pTemplate="content">
        <div class="mobile-menu text-white-alpha-70">

            <a href="#/app/home" (click)="op.hide()">Inicio</a>
            <a href="#/app/us" (click)="op.hide()">Nosotros</a>

            <a class="cursor-pointer"
               (click)="products.show($event, target)">
                Productos
            </a>
            <div #target></div>

            <a href="#/app/grid" (click)="op.hide()">Canales TV</a>

            <a href="#/app/login" (click)="op.hide()" class="mobile-cta">
                <i class="pi pi-user"></i>
                Autogestión
            </a>

        </div>
    </ng-template>
</p-overlayPanel>


    <p-overlayPanel #products>
    <ng-template pTemplate="content">
        <div class="products-menu ">
            <a class="text-white-alpha-70" href="#/app/products/homelike" (click)="products.hide()">Hogar</a>
            <a class="text-white-alpha-70" href="#/app/products/pymes" (click)="products.hide()">Comercio</a>
            <a class="text-white-alpha-70" href="#/app/products/corpo" (click)="products.hide()">Corporativo</a>
        </div>
    </ng-template>
</p-overlayPanel>


    <router-outlet></router-outlet>
</div>

