.parallax-section {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/parallax op2.png");
    background-size: 100% 185%;
    background-attachment: fixed;
    background-position: center center;
  }

  @media screen and (max-width: 720px) {
    .parallax-section{
      background-image: url("/assets/images/parallax responsive.png");
      background-size: 100% 165%;
      }
   }